@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap");
@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
:root {
  --body_background: #510b0b19;
  --body_color: #252525;
  --link_color: #252525;
  --navbar_color: #ffffff;
  --nav_text_color: #28262c;
}

[data-theme="dark"] {
  --body_background: #282c34;
  --body_color: white;
  --link_color: cyan;
  --navbar_color: #202020;
  --nav_text_color: white;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

#root {
  padding: 0;
  max-width: 100%;
}

body {
  margin: 0;
  color: var(--body_color);
  background-color: var(--body_background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.custom-shape-divider-top-1699616066 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1699616066 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.custom-shape-divider-top-1699616066 .shape-fill {
  fill: var(--navbar_color);
}

.shape-fill {
  fill: var(--navbar_color);
}

.gray-text {
  font-palette: --Grays;
  font-family: "Rocher";
}

/* font styling */
@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 9;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: inline-flex;
  width: 7em;
  cursor: pointer;
}
/************* Dark mode button Styling *************/

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}
